@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container {
    text-align: center;
}

.navbar {
    background: #ddc0c0;
    padding-bottom: 1em;
    border-radius: 3em;
    position: relative;
    width: 85%;
    margin-top: 1em;
    display: inline-block;
}

.headeri {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    display: block;
    padding-bottom: .5em;
}

.wdev, .imgs {
    margin-right: 3em;
}

.wdev, .imgs, .dev {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.navbar ul li {
    list-style-type: none;
    display: inline;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.images {
    margin-top: 5em;
}

.img-1 {
    box-shadow: 10px 10px 10px grey;
    width: 500px;
    height: 700px;
    float: right;
    margin-right: 10%;
}

.img-2 {
    box-shadow: 10px 10px 10px grey;
    float: left;
    width: 500px;
    height: 700px;
    margin-left: 10%;
}