@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
.container {
    text-align: center;
}

.navbar {
    opacity: 0.67;
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    padding-bottom: 1em;
    border-radius: 3em;
    position: relative;
    width: 85%;
    margin-top: 1em;
    display: inline-block;
}

.headeri {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    display: block;
    padding-bottom: .5em;
    animation: fadein 6s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    tp {
        opacity: 0.67;
    }
}

.wdev, .imgs {
    margin-right: 3em;
}

.wdev, .imgs, .dev {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    padding: .7em;
    background: rgb(177, 177, 177);
    border-radius: 2em;
    opacity: 0.5;
    transition: all 0.52s;
}

.navbar ul {
    margin-bottom: .5em;
}

.wdev:hover, .imgs:hover, .dev:hover {
    opacity: 1;
    background: #dbdbdb;
}

.navbar ul li {
    list-style-type: none;
    display: inline;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}