@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body {
    margin: 0;
    padding: 0;
}

.headeri {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    font-weight: bold;
    margin-right: 5em;
}

.navbar ul li {
    list-style-type: none;
    display: inline;
}

.img-link, .wdev-link {
    margin-right: 3em;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.images {
    margin-top: 5em;
}

.img-1 {
    box-shadow: 10px 10px 10px grey;
    width: 500px;
    height: 700px;
    float: right;
    margin-right: 10%;
}

.img-2 {
    box-shadow: 10px 10px 10px grey;
    float: left;
    width: 500px;
    height: 700px;
    margin-left: 10%;
}