/* #FDD935 #000000 */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat|Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    height: 101%;
    width: 100%;
    background: #1f2833;
    z-index: 2;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.headeri {
    font-family: 'Permanent Marker', cursive;
    font-size: 15em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    display: block;
    margin-bottom: .2em;
    text-shadow: 3px 3px 10px rgb(255, 86, 86);
    text-decoration: none;
    color: #66fcf1;
    animation: fade 6s;
    letter-spacing: .05em;
}

.whole {
    margin: 0 5%;
    display: none;
}

body {
    background: #083045;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: .5em;
}
/* body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(115, 200, 250);
} */
body::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #eed369 ;
    outline: 1px solid slategrey;
}

.navhidden {
    background: #000000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}

.navhidden h1 {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10em;
    margin-left: 5%;
    transition: all ease-in 0.2s;
    color: #fff;
}

.scroll {
    width: fit-content;
    margin-top: 10%;
}

.navhidden h1:hover {
    color: #eed369;
}

.navbar {
    position: fixed;
    margin: 50vh 0;
}

.name {
    font-family: "Permanent Marker", sans-serif;
    color: #eed369;
    font-size: 10em;
    text-align: center;
    margin-bottom: 0.2em;
    border-bottom:3px solid #eed369;
    cursor: default;
}

.name.footer {
    font-size: 5em;
    text-align: center;
    margin: .5em 0 0 0;
    border-top:3px solid #eed369;
    border-bottom: none;
}

.container.img, .container.dev {
    color: #373c3e;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container.dev, .container.about {
    margin-bottom: 2%;
}

.footer {
    text-align: center;
}

.footer h3 {
    font-family: 'Montserrat', sans-serif;
    color: #eed369;
    margin: 1% 0;
}

.links1 ul li {
    display: inline;
}

.links1 {
    word-spacing: 1em;
}

.fab.fa-github-square, .fab.fa-instagram, .far.fa-envelope {
    font-size: 3em;
    color: #eed369;
}

.abtme {
    cursor: default;
    font-size: 4em;
    text-align: center;
    color: #eed369;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 2%;
}

.container.about {
    display: inline-block;
    width: 100%;
    height: 87vh;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-bottom: 8%;
    overflow: hidden;
}

.abt {
    display: inline-block;
    font-size: 1.5em;
    color: #eed369;
    height: 100%;
}

.abt.left {
    border-right: 3px solid #eed369;
    width: 35%;
    float: left;
    margin-left: 3%;
    padding-right: 4%;
    text-align: center;
}

.abt.left i {
    padding-bottom: 3%;
}

.abt.right {
    margin-left: 4%;
    width: 50%;
}

.fas.fa-user-tie {
    font-size: 3em;
}


/* TODO: GitHub Logo, LinkedIn(?) */